
.slider{
    width: 600px;
    height: 400px;
}
.swiper_slider{
    height: 100%;
    width: 100%;
}
.swiper_div{
    height: 100%;
    width: 100%;
    background-color: #a2a2a2;
}
.swiper_img{
    height: 100%;
    width: 100%;
    // overflow: hidden;
    object-fit: cover;
}
